body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-color: rgb(49, 49, 250);
    color: white;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 66px;
    border-bottom: solid rgb(232, 230, 230) 1px;
}

.nav-tabs {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    font-size: 0.9em;
    font-weight: 900;
    gap: 35px;
}

.nav-button {
    margin: 15px 75px;
}

.logo {
    margin: 15px 90px;
    color: rgb(49, 49, 250);
}

.login {
    text-decoration: none;
    color: black;
}

.sign-up {
    width: 125px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(49, 49, 250);
    margin-left: 15px;
}

.btn-text {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.hero-section {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.hero-text {
    font-size: 3.5em;
    font-weight: 500;
}

.little-hero {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 0.5em;
    font-weight: 100;
    letter-spacing: 0.1rem;
}

.email {
    height: 60px;
    width: 300px;
    border-radius: 5px;
    border: 0.3px solid grey;
    margin-right: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 1.5em;
    position: absolute;
    left: 10px;
    top: 25%;
    letter-spacing: 0.2rem;/* Firefox */
  }

  .btn {
    background-color: blue;
    color: white;
    font-size: 1.1em;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 25px;
  }

  .extra {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 100;
  }